h4 {
    color: #880088;
    font-style: italic;
    display: block;
    margin-bottom: 8mm;
    text-decoration: underline;
}

p.droplet {
    height: 100mm;
    line-height: 5.25mm;
    border: solid 1px #880000;
    width: 50%;
}